# Terraform executable
terraform.exe

# Terraform working directory
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.auto.tfvars

# Terraform plan files
*tfplan*